# Python
__pycache__/
*.py[cod]
*.egg-info/
env/
venv/
.venv/
*.sqlite3

# Environment
.env
.env.*
!*.env.example

# IDE
.idea/
.vscode/
*.swp

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# OS
.DS_Store
Thumbs.db

# Media / static
media/
staticfiles/
